@import "~antd/dist/antd.dark.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ant-layout-content {
  padding: 24px 50px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.apiStatus {
  float: right;
  margin: auto 0 auto 24px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.manifest-command {
  word-break: break-all;
}

.footerContent {
  color: gray;
  border-top: 1px solid gray;
  text-align: center;
  padding-top: 1em;
}

.registry-icon {
  margin-top: 0.4em;
}

.ant-layout-header {
  height: unset !important;
  min-height: 64px;
}

.registry-url {
  vertical-align: middle;
}
